<div class="lastbox">
	<div class="row">
		<div class="col-md-4 b1">
			<h6>
				<span type="button">Contacts</span>
				<span type="button">About</span>
				<span type="button">More Info</span>
				<span type="button">Terms And Co</span>
			</h6>
		</div>
		<div class="col-md-4 b2">
			<h5>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
			</h5>
		</div>
		<div class="col-md-4 b3">
			<h6>Developed By <a href="#" style="color: white;">Mayank Thakur </a><i class="fa fa-copyright"></i> 2020 - Phone Me</h6>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/roomy4.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>