<!DOCTYPE html>
<html>
<head>
	<title>roomy</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/roomy4.css">
<script src="https://kit.fontawesome.com/8e82e704c0.js" crossorigin="anonymous"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/slick.min.js"></script> 
</head>
<body style="-webkit-scrollbar:width:0px;">