body{
	/*background: rgba(245,245,245,1);*/
	background: rgba(245,245,255,1);
/*background: #FFEFBA;  */
/* fallback for old browsers */
/*background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);  */
/* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to left, #FFFFFF, #FFEFBA); */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar{
	/*box-shadow: 0px 0px 1px rgba(0,0,0,0.5); */
	/*box-shadow: 0px 0px 15px rgba(0,0,0,0.2);*/
	box-shadow: 0px 0px 15px rgba(50,50,50,0.1);
}

.container.showcon{
	margin: 5% auto 0% auto;
}

.showcon .col-md-3{}
.showcon .col-md-9{}

.showcon .showincon1 .list-group{
	position: sticky;
	top:60px;
}

.showcon .inmap .list-group-item{
	padding: 0;
	background:rgba(0,0,0,0);
	border:0;
}
.showcon .list-group-item.inmap{
	padding: 0px;
	background: rgba(0,0,0,0);
	border:none;
}

.showcon .list-group-item.inmap iframe{
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.showcon .thumbnail.incon1{
	padding:0px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	border-radius: 0.5rem; 
}

.showcon .incon1 img{
	width: 100%;
	border-radius: 0.5rem 0.5rem 0rem 0rem; 
}
.showcon .incon1 hr{
	margin-bottom: 10px;
}
.showcon .incon1 .caption-full{
	padding: 15px 15px 10px 15px;
	background: white;
	border-radius: 0.5rem;
}

.showcon .inrow{
	margin:0;
}
.showcon .incon11{
	padding:0px;
}
.showcon .incon12{
	text-align: right;
}
.showcon .incon1 .btn{
	padding: 3px 10px;
	/*background: rgb(100,150,255);*/
background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color:white;
	outline:none;
	/*border:1px solid black;*/
	font-weight: 600;
	border:none;
	box-shadow: none;
}

.showcon .incon1 .caption-full .inh4{
	float: right;
}
.showcon .incon1 .caption-full .inem{
	display: inline;
	float: right;
	font-size: 0.9em;
}
#inputform{
	box-shadow: none;
	outline:none;
}
#inputform:hover{
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.showcon .well{
	padding:0px 15px;
	margin-top: 3.5%;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	border-radius: 0.5rem;
}

.showcon .well .inform1 .col-md-11{
	border-radius: 0.6rem 0rem 0rem 0rem;
	border:0;
	outline: none;
}
.showcon .well .inform1 .col-md-1{
	border-radius: 0rem 0.5rem 0rem 0rem;
	color:white;
	font-weight: 600;
	/*background: rgba(100,150,255,1);*/
background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border:none;
	box-shadow: none;
}

.showcon .well .inform2{
	margin-top: 3%;
}

.showcon .well .incomment{
	float: right;
}

.navbar.fixed-bottom{
	background:rgba(0,0,0,0);
	box-shadow:none;width:20%;
}

.navbar.fixed-bottom .navbar-brand{
	background:rgba(0,0,0,0);
	margin: 0% 0% 1% 1%;
	/*color:rgba(30,30,30,1);*/
	color:rgb(60,60,60);
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
}

.popover{
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	background: rgba(0,0,0,0);
	border:none;
}
.popover-header{
	background:rgba(0,0,0,0.9);
	color: white;
	border:none;
}
.popover-body{
	background:rgba(255,255,255,0.9);
	color: white;
	padding: 5px;
	border-radius: 0.5rem;
}
.popover .chatwindow{
	border:1px solid black;
	width:100%;
	padding:3%;
	margin-bottom:5%;
	background:white;
	color:black;
	border-radius: 0.5rem;
}

.popover input{
	border:1px solid black;
	box-shadow:none;
	/*border:none;*/
	border-radius: 0.5rem;
}